body {
    fontFamily: "-apple-system, BlinkMacSystemFont, sans-serif";
    margin: 0;
    padding: 0;
    color: #444444;
}

table {
    border: 1px solid #444;
    color: #444;
    fontSize: 18px;
}

th, td {
    border: 1px solid #444;
    color: #444;
    fontSize: 18px;
}